.panels {
  height: 52px;
  background-color: #292b2f;
  padding: 8px 16px;
  box-sizing: border-box;
  display: flex;
}
.avatar {
  border-radius: 50%;
}
.sidebar-avt {
  width: 36px;
}
.panels__img {
  width: 36px;
  margin-right: 8px;
}
.panels-username {
  color: white;
  flex-grow: 1;
  text-align: start;
}
.panels-username p:first-child {
  margin-top: 1px;
  font-weight: 600;
  font-size: 0.9rem;
}
.panels-username p:last-child {
  margin-top: 2px;
  font-size: 0.8rem;
}
#logout__icon {
  height: 100%;
}
.logout {
  cursor: pointer;
  width: 36px;
  border-radius: 50%;
}
.logout:hover {
  background-color: rgb(107, 105, 105);
}
