.signup__container {
  background-image: url("../../assets/images/login_signup_bg.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.hide-text {
  text-indent: -9999px;
}
