.typing {
  height: 68px;
  box-sizing: border-box;
  padding: 0 1rem;
}
.message-typing {
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #40444b;
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
}
#emojis-icon {
  position: absolute;
  bottom: 1.9rem;
  right: 2rem;
  width: 32px;
  cursor: pointer;
}
