.search-bar {
  height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(31, 28, 28);
  z-index: 2;
  padding: 8px;
}
.search-bar__input {
  width: 288px;
  height: 32px;
  background-color: #202225;
  border-radius: 4px;
  color: #72767d;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  outline: none;
  box-sizing: border-box;
  line-height: 32px;
  padding-left: 0.5rem;
}
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
