.default {
  flex-grow: 1;
  background-color: #36393f;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 2rem;
  text-align: center;
}
.default img {
  width: 400px;
}
.add-friend-typing {
  width: 40%;
  box-sizing: border-box;
  height: 44px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #40444b;
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
#add-friend__btn {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  margin-left: 0.5rem;
}
